# Node
node_modules/
.env
npm-debug.log

# Terraform
**/.terraform/*
*.tfvars
*.tfplan
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
crash.log
.terraformrc
terraform.rc

# OS
.DS_Store

# Docker 
docker-compose.override.yml
